* {
  padding: 0;
  margin: 0;
}

.header {
  height: 70px;
  background-color: black;
  text-align: center;
  color: white;
}

.sidebar {
  height: 530px;
  width: 250px;
  background-color: rgb(76, 190, 208);
  float: left;
  color: white;
  font-size: large;
  padding: 20px;
  /* text-align: center; */

}

.Nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Nav li {
  padding: 10px;
  background-color: #bababa;
  margin-bottom: 6px;

}

.Nav li a {
  text-decoration: none;
  color: black;
}

.main {
  height: 570px;
  width: 100%;
  background-color: rgb(145, 193, 177);
  display: block;
  text-align: center;

}

.table {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.footer {
  height: 88px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;


}